{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">Edit Course - {{match_edit.course}}</h1>
    <p class="description">The course to edit</p>

      <div class="list-group" ></div>

        <li class="list-group-item">Input City: {{match_edit.city}}</li>
        <li class="list-group-item">Input State: {{match_edit.state}}</li>
        <li class="list-group-item">Input Country: {{match_edit.country}}</li>

    </ul>
  </div>
  
  <div class="content">
    <h2 class="heading">Confirm Match</h1>
        <ul class="list-group" ></div>

          <li class="list-group-item">{{garmin_course.g_course}}</li>
          <li class="list-group-item">{{garmin_course.g_address}}</li>
          <li class="list-group-item">{{garmin_course.g_city}}, {{garmin_course.g_state}}, {{garmin_course.g_country}}</li>
          <li class="list-group-item"></li>
          <a href="{{ url_for('updateSuccess', match_id=match_id, garmin_id=garmin_course.id)}}" class="button">Confirm Update</a>

  </div>

{% endblock %}