{% extends "base.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">Edit Course - {{match_edit.course}}</h1>
    <p class="description"></p>

      <div class="list-group" >

        <li class="list-group-item border border-2">Input City: {{match_edit.city}}</li>
        <li class="list-group-item border border-2">Input State: {{match_edit.state}}</li>
        <li class="list-group-item border border-2">Input Country: {{match_edit.country}}</li>
      
      </div>
  </div>
  
  <div class="content">
    <h2 class="heading">Confirm Match</h2>
        <div class="list-group" >

          <li class="list-group-item border border-2">{{garmin_course.g_course}}</li>
          <li class="list-group-item border border-2">{{garmin_course.g_address}}</li>
          <li class="list-group-item border border-2">{{garmin_course.g_city}}, {{garmin_course.g_state}}, {{garmin_course.g_country}}</li>    
          <a href="{{ url_for('updateSuccess', match_id=match_id, garmin_id=garmin_course.id)}}" class="btn btn-outline-success btn-sm">Confirm Update</a>
        </div>
  </div>

{% endblock %}