{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">Edit Course</h1>
    <p class="description">The course to edit</p>
    <ul class="container">
      <h2 class="heading">{{match_edit.course}}</h1>
      <p class="description">Match Score: {{match_edit.best_match_score}}</p>
      <div class="list-group" ></div>

        <li class="list-group-item">Input City: {{match_edit.city}}</li>
        <li class="list-group-item">Input State: {{match_edit.state}}</li>
        <li class="list-group-item">Input Country: {{match_edit.country}}</li>


    </ul>

  </div>
  <div class="content">
    <h1 class="heading">Search for Course</h1>
  {{wtf.quick_form(form)}}
  </div>
{% endblock %}