{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">Edit Course</h1>
    <p class="description">The course to edit</p>
    <ul class="container">
      <h2 class="heading">{{match_edit.course}}</h1>
      <p class="description">Match Score: {{match_edit.best_match_score}}</p>
      <div class="list-group" ></div>

        <li class="list-group-item border border-2">Input City: {{match_edit.city}}</li>
        <li class="list-group-item border border-2">Input State: {{match_edit.state}}</li>
        <li class="list-group-item border border-2">Input Country: {{match_edit.country}}</li>

    </ul>
  </div>
  
  <div class="content">
    <h2 class="heading">Possible Matches</h1>
        <div class="list-group" ></div>
        {% for i in raw_matches %}
          {% if i.id_left == id_left %}
          <li class="list-group-item border border-2">{{i.g_course}} <a href="{{ url_for('confirmAuto', id=i.id_right, id_left=i.id_left)}}" class="btn btn-outline-secondary btn-sm">Select</a></li>
          {% endif %}
        {% endfor %}
  </div>
  <br>
  <br>
  <br>
  <div class="content">
    <h1 class="heading">Set Manual Garmin Id</h1>
    {{wtf.quick_form(form)}}
  </div>
{% endblock %}