{% extends "base.html" %}

{% block title %}All Garmin Courses{% endblock %}

{% block content %}
<div class="container text-center add">
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Course</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>id</th>
      </tr>
    </thead>
    <tbody>
      {% for course in garmin[1:] %}
        <tr>
          <td>{{ course.g_course }}</td>
          <td>{{ course.g_address }}</td>
          <td>{{ course.g_city }}</td>
          <td>{{ course.g_state }}</td>
          <td>{{ course.g_country }}</td>
          <td>{{ course.id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>  
  <div class="container text-center add">
    <a href="{{url_for('add_garmin_course')}}" class="btn btn-outline-primary btn-lg">Add Course to Full Course List</a>
  </div>

{% endblock %}

<!-- table script from https://www.youtube.com/watch?v=IsuhCAptNbg -->


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        order: [[5,'asc']],
        columns: [
          null,
          null,
          null,
          null,
          {searchable: false},
          null],
      });
    });
  </script>
{% endblock %}