{% extends 'bootstrap/base.html' %}
{% include 'default.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Mike's golf courses{% endblock %}

{% block content %}
<ul class="container">
  <h1 class="heading">Mike's Golf Courses</h1>
  <p class="description">These are the course courses Mike has played.</p>
  <div class="list-group" ></div>
  {% for i in matches %}
    {% if i.user == user and i.good_match %}
    <li class="list-group-item border border-2">{{garmin_courses[i.garmin_ID - 1].g_course}} <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('edit_match', id=i.index_label)}}" role="button">Update</a></li>
    {% endif %}
  {% endfor %}
</ul>

<div class="container text-center add">
  <a href="{{url_for('show_map')}}" class="btn btn-outline-primary btn-lg">Show Map</a>
</div>
  

<ul class="container">
  <h1 class="heading">Unmatched Courses</h1>
  <p class="description">These are the course courses that still need to be matched to the Garmin Database.</p>
  <div class="list-group" ></div>
  {% for i in matches %}
    {% if i.user == user and not i.good_match %}
    <li class="list-group-item border border-2">{{i.course}} <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('edit_match', id=i.index_label)}}">Update</a></li>
    {% endif %}
  {% endfor %}
</ul>

<div class="container text-center add">
  <a href="{{url_for('show_map')}}" class="btn btn-outline-primary btn-lg">Show Map</a>
</div>

{% endblock %}