{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">UPDATE SUCCESS</h1>

  </div>
  match info:
  {{match_edit.course}}
  <hr>
  garmin:
  {{garmin_course.g_course}}

  <div class="container text-center add">
    <a href="{{url_for('show_map')}}" class="button">Show Map</a>
    </div>
{% endblock %}